@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,500&display=swap");

body {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', Arial;
    background-color: rgb(32, 32, 32);
    overflow-x: hidden;
    overflow-y: hidden;
}

.holder {
    width: 80%;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    visibility: hidden;
}

.game-title {
    font-family: "Exo 2";
    color: white;
    font-size: 30px;
}

.game-info {
    text-align: center;
}

#game-flag {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 20%;
    margin-top: 60px;
    margin-bottom: 60px;
}

h1, p {
    font-family: "Exo 2";
    color: white;
}

button {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 3px;
    background-color: rgb(26, 26, 26);
    border: 1cm white;
    color: white;
    padding: 15px;
    width: 250px;
    transition: .2s ease-in;
    cursor: pointer;
}

button:hover{
    background-color: rgb(224, 224, 224);
    color: rgb(14, 14, 14);
}

.menu-options li {
    margin-top: 15px;
    margin-bottom: 15px;
}

.options {
    width: 80%;
}

ul {
    list-style-type: none;
}

#game-options ul li {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#menu {
    width: 400px;
    height: 500px;
    border-radius: 3px;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#game {
    width: 400px;
    height: 500px;
    background-color: gray;
    border-radius: 3px;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
   
#flags {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
    height: 100%;
    width: 100%;
    border-radius: 2px;
}

.flag-container {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding: 5px; 
    width: 150px;
    height: 100px;
    text-align: center;
    flex-grow : 1;
}

.fail-message {
    color: red;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    pointer-events: none;
    opacity: .1;
}

/**/
.notification-container {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 500px;
    max-width: calc(100% - 30px);
  }
  
  .notification {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #fff;
    font-size: 16px;
    padding: 15px 20px;
    line-height: 20px;
    margin-bottom: 15px;
    animation: grow 0.5s ease-in forwards;
  }
  
  @keyframes grow {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .notification.hide {
    animation: shrink 0.3s ease-out forwards;
  }
  
  @keyframes shrink {
    to {
      opacity: 0;
      transform: scale(0.8);
    }
  }
  
  .notification strong {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  
  .notification-info {
    background-color: #00cae3;
  }
  
  .notification-success {
    background-color: #55b559;
  }
  
  .notification-warning {
    background-color: #ff9e0f;
  }
  
  .notification-danger {
    background-color: #f55145;
  }

/*Special thanks to Mohammad Abdul Mohaiman for the background animation below*/
.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height: 100%;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}